{% extends "base.html" %}

{% block title %}Moug's score{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/utils-video.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/end.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
    <video id="video" class="bg-video" autoplay>
    </video>
</div>

<div class="row">
    <div class="col-md-1">
        <div class="blue">
            <span id="blueScore" class="score scoreBlue"></span>
            <div class="outer">
                <div class="inner innerBlue">
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="red">
            <span id="redScore" class="score scoreRed"></span>
            <div class="outer">
                <div class="inner innerRed">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    localStorage.redScore = {{ red }};
    localStorage.blueScore = {{ blue }};
</script>
<script src="{{ url_for('static', filename='js/end.js') }}"></script>
{% endblock %}
